.MainHistory {
    color: #1919199c;
}

.History{
    height: 200px;
    padding: 0 50px;
    background-color: #10c9c3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.HistoryItem{
    display: flex;
}

.HistoryItem p{
    color: #fff;
    font-size: 1.1rem;
    padding: 0 8px;
}

.HistoryItem img {
    height: 50px;
}

.AboutMe{
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.ImageContainer{
    position: relative;
}

.ImageLayer{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10c9c344;
    /* background-image: linear-gradient(to right, #10c9c344, #fff); */
}

.Desk{
    width: 50vw;
    height: 600px;
    object-fit: cover;
    filter: saturate(0.5);
    opacity: 0.9;
}

.Signature{
    height: 80px;
    margin-right: auto;
}

.AboutMeText{
    padding: 200px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutMeText h1{
    font-size: 2.2rem;
    font-weight: 500;
    color: #222;
}

.AboutMeText p{
    font-size: 0.95rem;
    padding: 10px 0;
}

.Project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.Project h1{
    font-weight: 500;
    color: #222;
    margin-bottom: 10px;
}

.Project p{
    font-size: 0.95rem;
    width: 500px;
}

/* Mobile view */
@media screen and (max-width: 600px) {
    .MainHistory {
        color: #1919199c;
    }
    
    .History{
        height: fit-content;
        padding: 50px;
        background-color: #10c9c3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 50px;
    }
    
    .HistoryItem{
        display: flex;
    }
    
    .HistoryItem p{
        color: #fff;
        font-size: 1.1rem;
        padding: 0 8px;
    }
    
    .HistoryItem img {
        height: 50px;
    }
    
    .AboutMe{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .ImageContainer{
        position: relative;
    }
    
    .ImageLayer{
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #10c9c344;
        /* background-image: linear-gradient(to right, #10c9c344, #fff); */
    }
    
    .Desk{
        width: 100vw;
        height: 600px;
        object-fit: cover;
        filter: saturate(0.5);
        opacity: 0.9;
    }
    
    .Signature{
        height: 80px;
        margin-right: auto;
    }
    
    .AboutMeText{
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .AboutMeText h1{
        font-size: 2.2rem;
        font-weight: 500;
        color: #222;
    }
    
    .AboutMeText p{
        font-size: 0.95rem;
        padding: 10px 0;
    }
    
    .Project{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 10px;
    }
    
    .Project h1{
        font-weight: 500;
        color: #222;
        margin-bottom: 10px;
    }
    
    .Project p{
        font-size: 0.95rem;
        width: 300px;
    }
}