.Blog{
    position: relative;
    height: 500px;
    background-color: #323232;
    background-image: url(img/blog.png);
    background-size: cover;
    background-position: center;
}

.BlogCap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 23, 23, 0.65);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    padding-bottom: 120px;
}

.BlogCap h1{
    font-size: 2.5rem;
    font-weight: 500;
}

.BlogCap p{
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}