.Profile{
    position: relative;
    height: 600px;
    background-color: #323232;
    /* background-image: url(img/MyProfile.png); */
    background-size: cover;
    background-position: center;
}

.ProfileCap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 600px;
    background-color: rgba(0, 53, 64, 0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.ProfileBg{
    width: 100vw;
    height: 600px;
    object-fit: cover;
}

.ProfileCap h1{
    font-size: 2.5rem;
    font-weight: 500;
}

.ProfileCap p{
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}